@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wiggle {
  0%, 100% { transform: rotate(-2deg); }
  50% { transform: rotate(2deg); }
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
}
